### Operators
#### Arithmetic
#### Relational 
#### Logical
####  Membership
#### Bitwise
#### Assignment

### Arithmetic Operators(Add,Sub,Mul,Div,Exp,Modulus,Floor Division)

In [ ]:
1.Addition +
2.Subtraction -
3.Multiplication *
4.Division /

In [1]:
income=10000
incentive=1000
Total=income+incentive
Total

11000

In [5]:
type(Total)

int

In [13]:
income=10000
incentive=100.5
Total=income+incentive
Total

10100.5

In [14]:
type(Total)

float

In [15]:
income=10000.00
incentive=100.5
Total=income+incentive
Total

10100.5

In [16]:
type(Total)

float

##### int+int=int
##### int+float=float
##### float+float=float

In [7]:
x=67
y=45
z=x-y
z

22

##### int-int=int
##### float-float=float
##### float-int=float
##### int-float=float

In [21]:
x=2.5
y=2
z=x*y
z

5.0

In [10]:
type(z)

int

##### int *int=int
##### float * float =float
##### int * float = float

In [23]:
x=20.2
y=4.5
z=x/y
z

4.488888888888889

In [12]:
type(z)

float

###### int/int=float
###### int/float=float
###### float/float =float

##### In addition,subtraction,multiplication if one of the operand is float,then result is also float

###### In division irresesptive of datatypes,the result is float

In [31]:
### exponential (**)
a=2.0
b=4.0
z=a**b
z

0.0625

##### Even if one is float,then the result is also float

In [52]:
### Modulus(%)-Remainder
### x%y
### if x>y,it returns remainder
### ifx<y,it returns x
a=8
b=2
z=a%b
z

0

In [38]:
### Floor Division(//)-Quotient
### x//y
### if x>y,it returns quotient
### if x<y,it returns zero
a=100
b=3
z=a//b
z

33

In [ ]:
name=input("Enter ur name:")
print("Welcome",name)

In [ ]:
price=int(input("Enter price:"))
quantity=int(input("Enter quantity:"))
Cost=price*quantity
Cost

## Relational operators
### Equal to(==)
### Not equal to (!=)
### Greater than(>)
### Less than(<)
### Greater than or equal to(>=)
### Lesser  than or equal to(<=)

In [39]:
### Relational Operators
x=67
y=34

In [49]:
x==y

False

In [41]:
x!=y

True

In [42]:
x<y

False

In [43]:
x>y

True

In [44]:
x>=y

True

In [47]:
x<=y

False

### Logical Operators
### AND
### OR
### NOT

### AND

In [53]:
is_student=True
in_college=True
in_school=False

In [54]:
is_student and in_college

True

In [55]:
is_student and in_school

False

### OR

In [56]:
is_student or in_school

True

### Not

In [57]:
not(is_student)

False

In [ ]:
### Membership Operators
vowels="aeiou"
print("i" in vowels)

In [ ]:
print("j" in vowels)

In [ ]:
### not in
print("a" not in vowels)

In [ ]:
print("p" not in vowels)

### Bitwise operators

In [ ]:

number=10
(number%2==0)&(number%3==0)

In [ ]:
number=10
(number%2==0)|(number%3==0)

### Assignment Operators
#### a+=b => a=a+b
#### a-=b => a=a-b

In [58]:
x=3
x+=5  
x

8

In [59]:
x=3
x-=5
x

-2

In [60]:
x=5
x*=3   
x

15

In [61]:
x=10
x/=2
x

5.0

In [62]:
x=5
x**=2
x

25

In [63]:
x=11
x%=3
x

2

In [64]:
x=10
x//=1.5
x

6.0